*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.odinrecipes{
	background-color: #FFC94A;
	color: #795458;
	text-align: center;
	font-size: 50px;
	width: 2000px;
	height: 100px;
}

.recipeslink{
	background-color: #a09cc7;
	color: antiquewhite;
}

.inglist{
	background-color: #795458;
	color: antiquewhite;
}

.description{
	font-style: italic;
	color: darkslategrey;
}

h2{
	background-color: #a09cc7;
}