*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainblock{
	background-color: #d7bf86;
}
.odinrecipes{
	background-color: #FFC94A;
	color: #795458;
	text-align: center;
	font-size: 50px;
	padding: 40px;
	border: 2px solid #795458;
}

.recipeslink{
	color: antiquewhite;
}

.inglist{
	background-color: #795458;
	color: antiquewhite;
}

.description{
	font-style: italic;
	color: darkslategrey;
}

h2{
	background-color: #a09cc7;
}

#recipesday{
	background-color: #d7bf86;
	text-align: center;
	color: #241a02;
}

.newrecipe{
	background-color: antiquewhite;
	padding: 20px;
	margin: 25px;
	width: 50px;
	height: 50px;
	display: inline;
}