*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.odinrecipes{
	background-color: #FFC94A;
	color: #795458;
	text-align: center;
	width: 2000px;
	height: 100px;
}

.recipeslink{
	background-color: #a09cc7;
	color: antiquewhite;
}